h2{
    text-align: center;
  margin-right: 90px;
  margin-top: 0px !important;
  color: lightskyblue;
}
.row{
    margin-left: 0%;
}
.controllers{
  float: right;
}
.card{
  margin-bottom: 40px;
}
.date{
  font-size: 13px;
  float: left;
  font-family: sans-serif;
}
.dateContainer{
  margin-left: -69px;
  margin-top: 1px;
}
.submitBtn{
  width: 100% !important;
    font-size: 17px !important;
}
.btn-danger{
  margin-left: 0px !important;
}
.operations{
  margin-left: 5px;
  margin-right: 5px;
}
.show{
  float: right;
}